
<form id="contactForm" method="post" action="account/register">
  <h4>Please fill in your details to create a new account</h4>
  <fieldset id="contactDetails">
      Name: <input type="text" name="fname" required>
      Lastname: <input type="text" name="lname" required>
      Address: <input type="text" name="address" required>
      City: <input type="text" name="city" required>
      Zip: <input type="number" name="zip" required>
      Phonenumber: <input type="text" name="phone" required>
      E-mail: <input type="email" name="email" required>
      Password: <input type="text" name="password" required>
  </fieldset>
      <button type="submit">Create account</button>
</form>
