body {
  background-color: #dee8f2;
}
header {
  background-color: rgb(35, 69, 95);
  height: 130px;
  padding: 15px;
}

a:hover {
  color: #0056b3;
}

.flash {
  color: rgb(35, 69, 95);
  font-size: 30px;
  font-weight: 200px;
  padding: 10px;
}

#contactForm fieldset {
  padding: 30px;
  background-color: rgb(82, 108, 128);
  display: grid;
}

#linkButton {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

#linkButton:hover {
  color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

#innerBooks {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgb(82, 108, 128);
  border-radius: 5px;
}

.bold-text {
  display: inline-block;
  width: 80px;
  font-weight: bold;
}

.paging {
  display: inline;
  margin-right: 10px;
}