header {
  background-color: rgb(35, 69, 95);
  height: 150px;
}

footer {
  color: bisque;
  background-color: rgb(35, 69, 95);
  height: 25px;
  padding: 10px;
}

#contactForm fieldset {
  padding: 30px;
  background-color: rgb(82, 108, 128);
  display: grid;
}

#linkButton {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

#linkButton:hover {
  color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

#outerBooks {
  list-style-type: none;
  padding: 0;
}

#innerBooks {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

li strong {
  display: inline-block;
  width: 80px;
  font-weight: bold;
}