<h1>Search by Author or Title</h1>

<form action="books/search" method="get">
<label for="searchCriteria">Choose searchoption:</label>
<select id="searchCriteria" name="searchCriteria">
  <option value="author">Author</option>
  <option value="title">Title</option>
</select>
<input type="text" name="searchInput">
<button type="submit">Search</button>
</form>