<header>
  <h1>Book Store</h1>
  <a href="./books/bookStore">Home</a>
    <form action="account/logout" method="post">
      <button id="logout" type="submit">Logout</button>
    </form>
  <a href="./books/checkOut">CheckOut</a>
</header>
