<header>
  <ul>
    <li><a href="./">Log in</a></li>
    <li><a href="./books/bookStore">Search Books</a></li>
    <li><a href="./books/checkOut">CheckOut</a></li>
    <li><form action="account/logout" method="post">
      <button id="linkButton" type="submit">Logout</button>
    </form>
    </li>
  </ul>
</header>
